.header-grid {
  padding: 5px;
  border: 1px solid #bdc3c7;
  border-bottom: 0;
  background-color: #f5f7f7;
  button {
    background: #fff;
    box-shadow: none;
    border: 1px solid #ccc;
    padding: 8px;
    cursor: pointer;
    &:hover {
      background: #e2e2e2;
    }
  }
  span {
    float: right;
    line-height: 35px;
    strong {
      font-size: 14px;
    }
  }
}
