/* You can add global styles to this file, and also import other style files */
@import "~@ag-grid-community/all-modules/dist/styles/ag-grid.css";
@import "~@ag-grid-community/all-modules/dist/styles/ag-theme-balham.css";

body {
  margin: 0;
  background: #ececec;
  font: 400 12px -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
  .ag-theme-balham  .ag-status-bar{
    padding: 5px 10px;
    background: #f5f7f7;
    color: #000;
  }
}
